<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.svg') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/maskedinput.js') }}"></script>
    {% block style %}
    {% endblock %}
</head>
<body>
<header>
    <div class="content nav">
        <a href="{{ url_for('.index') }}" class="logo">IT-APOSTOL</a>
        {% if show_login %}
            {% if not user.is_authorized() %}
            <a href="{{ url_for('.login') }}" class="auth">Войти в IT</a>
            {% endif %}
            {% if user.is_authorized() %}
                <div class="header-login">
                    {{ user.user.display_name }}
                    <a href="{{ url_for('.logout') }}" class="auth header-logout">ВЫЙТИ</a>
                </div>
            {% endif %}
        {% endif %}
    </div>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
<ban>
    не поддерживается
</ban>
</body>
</html>